body,
#root {
  margin: 0;
  /* height: 100vh; */
  background-color: #282c34;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  color: white;
  text-align: center;
}
ul,
li {
  text-align: left;
  list-style: none;
}
